@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
:root {
  --primaryColor: #f15025;
  --mainWhite: #fff;
  --mainBlack: #222;
  --lightGrey: #eee;
  --mainGrey: #9e9e9e;
  --mainRed: #d50000;
  --mainGreen: #4caf50;
}
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background: var(--mainGrey);
  color: var(--mainBlack);
  font-family: "Roboto", sans-serif;
}

#root {
  min-width: 700px;
  overflow: scroll;
  margin: 0 auto;
}

h1 {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  color: var(--mainWhite);
  letter-spacing: 5px;
}
.App {
  display: flex;
  margin: 0 auto;
  /* min-width: 600px; */
  overflow: scroll;
  /* width: 90%; */
  width: fit-content;
  background: var(--mainWhite);
  padding: 2rem;
  border-radius: 2px;
}

.prime-table {
  margin: 0 auto;
  font-size: 20px;
  /* min-width: 500px; */
  overflow: scroll;
}

button {
  border: none;
  background: inherit;
  outline: none;
  user-select: none;
}

.select-n {
  margin: 0 auto;
  text-align: center;
  margin: 2rem 0;
  letter-spacing: 5px;
  font-size: 28px;
  font: bolder;
}

.form-control {
  border: none;
  background: transparent;
  border-bottom: 1px solid var(--mainGrey);
  border-radius: 0;
  outline: none;
  width: 3.6rem;
  height: 2rem;
  font-size: 28px;
  margin: 0 0 8px 0;
  padding: 10px;
}

.form-control:hover {
  background: var(--mainWhite);
}

.nrow {
  width: 40px;
  height: 20px;
  margin: 0 auto;
  /* align-items: center; */
  /* text-align: center; */
  /* padding: 4px; */
}

.odd-row,
.even-row {
  display: flex;
  /* margin: auto; */
}

.odd-row:hover,
.even-row:hover {
  background: var(--mainGrey);
}

.even-row {
  background: var(--lightGrey);
}

.error {
  margin: 0 auto;
  font-size: 20px;
  color: red;
  text-align: center;
}

.error-adv {
  color: var(--mainBlack);
  padding: 5px;
}

.border-bottom {
  border-bottom: 2px solid var(--mainBlack);
}

.nrow:first-child {
  border-right: 2px solid var(--mainBlack);
}
